### Análise Exploratória de Dados (EDA)

In [9]:
# O Senac possui um departamento de jogos. O problema: Com a mudança de gerações e perfil dos jogadores, o time de jogos tem diversas dúvidas. 
#Por exemplo: que tipo de jogo é mais comercial, qual plataforma está sendo mais utilizada, que tipo de jogos podemos lançar (produto).

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\lucio59241446\OneDrive - SENAC DF\Aulas\datasets\games\vgsales.csv')




1.   Entrar no Kaggle
2.   Escolher um Dataset
1.   Importar o pandas
1.   Usar funções (head(), tail(), Series(tupla, lista, dict))
2.   Estatisticas Descritiva: describe(), mostrar uma coluna, fatiar, columns, info(), len()
2.   Outros (loc(), iloc(), isnull(), fillna(),isna(), pivot(), drop(), lambda(), mean(), median(), mode()

In [6]:
df.tail()

,index,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
1902,1902,1903,Lizzie McGuire 2: Lizzie Diaries,GBA,2004.0,Action,Disney Interactive Studios,0.60,0.22,0.00,0.01,0.83,55.00
1903,1903,1904,Xenoblade Chronicles,Wii,2010.0,Role-Playing,Nintendo,0.39,0.22,0.16,0.07,0.83,91.74
1904,1904,1905,SingStar Abba,PS3,2008.0,Misc,Sony Computer Entertainment,0.25,0.44,0.00,0.14,0.83,73.00
1905,1905,1906,FIFA Soccer World Championship,PS2,2000.0,Sports,Electronic Arts,0.27,0.21,0.28,0.07,0.83,73.00
1906,1906,1907,WWE SmackDown vs. Raw 2011,X360,2010.0,Fighting,THQ,0.42,0.32,0.00,0.09,0.83,82.00

In [17]:
df.head()

,index,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00

In [8]:
df.describe()

,index,Rank,Year,North America,Europe,Japan,Rest of World,Global,Review
count,1907.0000,1907.0000,1878.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000
mean,953.0000,954.0000,2003.766773,1.258789,0.706675,0.317493,0.206471,2.489240,79.038977
std,550.6478,550.6478,5.895369,1.956560,1.148904,0.724945,0.343093,3.563159,10.616899
min,0.0000,1.0000,1983.000000,0.000000,0.000000,0.000000,0.000000,0.830000,30.500000
25%,476.5000,477.5000,2000.000000,0.510000,0.230000,0.000000,0.060000,1.110000,74.000000
50%,953.0000,954.0000,2005.000000,0.810000,0.440000,0.020000,0.130000,1.530000,81.000000
75%,1429.5000,1430.5000,2008.000000,1.375000,0.810000,0.300000,0.220000,2.540000,86.230000
max,1906.0000,1907.0000,2012.000000,40.430000,28.390000,7.200000,8.540000,81.120000,97.000000

In [18]:
resumo = df.describe()


# Faça um relatório com a definição das variáveis (estatistico)

*   Variavel Quantitativa (continua ou discreta)
*   Variavel Qualitativa (nominal ou ordinal)

In [20]:
df.mean

<bound method DataFrame.mean of       index  Rank                        Game Title Platform    Year  \
0         0     1                        Wii Sports      Wii  2006.0
1         1     2                 Super Mario Bros.      NES  1985.0
2         2     3                    Mario Kart Wii      Wii  2008.0
3         3     4                 Wii Sports Resort      Wii  2009.0
4         4     5                            Tetris       GB  1989.0
...     ...   ...                               ...      ...     ...
1902   1902  1903  Lizzie McGuire 2: Lizzie Diaries      GBA  2004.0
1903   1903  1904              Xenoblade Chronicles      Wii  2010.0
1904   1904  1905                     SingStar Abba      PS3  2008.0
1905   1905  1906    FIFA Soccer World Championship      PS2  2000.0
1906   1906  1907        WWE SmackDown vs. Raw 2011     X360  2010.0

             Genre                    Publisher  North America  Europe  Japan  \
0           Sports                     Nintendo          40.43   28.39   3.77
1         Platform                     Nintendo          29.08    3.58   6.81
2           Racing                     Nintendo          14.50   12.22   3.63
3           Sports                     Nintendo          14.82   10.51   3.18
4           Puzzle                     Nintendo          23.20    2.26   4.22
...            ...                          ...            ...     ...    ...
1902        Action   Disney Interactive Studios           0.60    0.22   0.00
1903  Role-Playing                     Nintendo           0.39    0.22   0.16
1904          Misc  Sony Computer Entertainment           0.25    0.44   0.00
1905        Sports              Electronic Arts           0.27    0.21   0.28
1906      Fighting                          THQ           0.42    0.32   0.00

      Rest of World  Global  Review
0              8.54   81.12   76.28
1              0.77   40.24   91.00
2              3.21   33.55   82.07
3              3.01   31.52   82.65
4              0.58   30.26   88.00
...             ...     ...     ...
1902           0.01    0.83   55.00
1903           0.07    0.83   91.74
1904           0.14    0.83   73.00
1905           0.07    0.83   73.00
1906           0.09    0.83   82.00

[1907 rows x 13 columns]>

In [21]:
df.median

<bound method DataFrame.median of       index  Rank                        Game Title Platform    Year  \
0         0     1                        Wii Sports      Wii  2006.0
1         1     2                 Super Mario Bros.      NES  1985.0
2         2     3                    Mario Kart Wii      Wii  2008.0
3         3     4                 Wii Sports Resort      Wii  2009.0
4         4     5                            Tetris       GB  1989.0
...     ...   ...                               ...      ...     ...
1902   1902  1903  Lizzie McGuire 2: Lizzie Diaries      GBA  2004.0
1903   1903  1904              Xenoblade Chronicles      Wii  2010.0
1904   1904  1905                     SingStar Abba      PS3  2008.0
1905   1905  1906    FIFA Soccer World Championship      PS2  2000.0
1906   1906  1907        WWE SmackDown vs. Raw 2011     X360  2010.0

             Genre                    Publisher  North America  Europe  Japan  \
0           Sports                     Nintendo          40.43   28.39   3.77
1         Platform                     Nintendo          29.08    3.58   6.81
2           Racing                     Nintendo          14.50   12.22   3.63
3           Sports                     Nintendo          14.82   10.51   3.18
4           Puzzle                     Nintendo          23.20    2.26   4.22
...            ...                          ...            ...     ...    ...
1902        Action   Disney Interactive Studios           0.60    0.22   0.00
1903  Role-Playing                     Nintendo           0.39    0.22   0.16
1904          Misc  Sony Computer Entertainment           0.25    0.44   0.00
1905        Sports              Electronic Arts           0.27    0.21   0.28
1906      Fighting                          THQ           0.42    0.32   0.00

      Rest of World  Global  Review
0              8.54   81.12   76.28
1              0.77   40.24   91.00
2              3.21   33.55   82.07
3              3.01   31.52   82.65
4              0.58   30.26   88.00
...             ...     ...     ...
1902           0.01    0.83   55.00
1903           0.07    0.83   91.74
1904           0.14    0.83   73.00
1905           0.07    0.83   73.00
1906           0.09    0.83   82.00

[1907 rows x 13 columns]>

In [22]:
df.mode

<bound method DataFrame.mode of       index  Rank                        Game Title Platform    Year  \
0         0     1                        Wii Sports      Wii  2006.0
1         1     2                 Super Mario Bros.      NES  1985.0
2         2     3                    Mario Kart Wii      Wii  2008.0
3         3     4                 Wii Sports Resort      Wii  2009.0
4         4     5                            Tetris       GB  1989.0
...     ...   ...                               ...      ...     ...
1902   1902  1903  Lizzie McGuire 2: Lizzie Diaries      GBA  2004.0
1903   1903  1904              Xenoblade Chronicles      Wii  2010.0
1904   1904  1905                     SingStar Abba      PS3  2008.0
1905   1905  1906    FIFA Soccer World Championship      PS2  2000.0
1906   1906  1907        WWE SmackDown vs. Raw 2011     X360  2010.0

             Genre                    Publisher  North America  Europe  Japan  \
0           Sports                     Nintendo          40.43   28.39   3.77
1         Platform                     Nintendo          29.08    3.58   6.81
2           Racing                     Nintendo          14.50   12.22   3.63
3           Sports                     Nintendo          14.82   10.51   3.18
4           Puzzle                     Nintendo          23.20    2.26   4.22
...            ...                          ...            ...     ...    ...
1902        Action   Disney Interactive Studios           0.60    0.22   0.00
1903  Role-Playing                     Nintendo           0.39    0.22   0.16
1904          Misc  Sony Computer Entertainment           0.25    0.44   0.00
1905        Sports              Electronic Arts           0.27    0.21   0.28
1906      Fighting                          THQ           0.42    0.32   0.00

      Rest of World  Global  Review
0              8.54   81.12   76.28
1              0.77   40.24   91.00
2              3.21   33.55   82.07
3              3.01   31.52   82.65
4              0.58   30.26   88.00
...             ...     ...     ...
1902           0.01    0.83   55.00
1903           0.07    0.83   91.74
1904           0.14    0.83   73.00
1905           0.07    0.83   73.00
1906           0.09    0.83   82.00

[1907 rows x 13 columns]>

In [31]:
df = pd.read_csv(r'C:\Users\lucio59241446\OneDrive - SENAC DF\Aulas\datasets\games\vgsales.csv')

In [36]:
df.columns

Index(['index', 'Rank', 'Game Title', 'Platform', 'Year', 'Genre', 'Publisher',
       'North America', 'Europe', 'Japan', 'Rest of World', 'Global',
       'Review'],
      dtype='object')

In [10]:
#plataformas está sendo mais utilizadas
plataforma = df['Platform'].value_counts()
plataforma

Platform
PS2     372
PS      223
X360    219
PS3     202
Wii     161
DS      149
GBA      75
XB       72
PC       71
PSP      63
NES      60
N64      57
GC       55
GB       48
SNES     41
3DS      15
GEN      11
DC        6
SAT       3
WiiU      2
SCD       1
PSV       1
Name: count, dtype: int64

In [16]:
df.loc[df['Game Title'].str.lower() == 'Candy']

Empty DataFrame
Columns: [index, Rank, Game Title, Platform, Year, Genre, Publisher, North America, Europe, Japan, Rest of World, Global, Review]
Index: []

In [17]:
df.loc[df['Game Title'].str.contains('mario', case=False, na=False)]

,index,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
5,5,6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,10.85,8.87,6.48,2.88,29.08,90.00
8,8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,13.35,6.48,4.66,2.25,26.75,88.18
12,12,13,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.34,7.12,4.11,1.90,22.47,91.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1329,1329,1330,Mario Tennis,GB,2000.0,Sports,Nintendo,0.50,0.18,0.44,0.06,1.18,86.00
1344,1344,1345,Mario vs. Donkey Kong,GBA,2004.0,Puzzle,Nintendo,0.68,0.25,0.21,0.02,1.17,79.07
1352,1352,1353,Mario vs. Donkey Kong 2: March of the Minis,DS,2006.0,Puzzle,Nintendo,0.72,0.01,0.36,0.07,1.16,77.43
1626,1626,1627,Mario Party Advance,GBA,2005.0,Misc,Nintendo,0.50,0.19,0.28,0.02,0.98,56.42
1739,1739,1740,Mario & Sonic at the London 2012 Olympic Games,3DS,2012.0,Sports,Sega,0.15,0.44,0.27,0.06,0.91,74.00

In [19]:
df.loc[df['Game Title'].str.contains('township', case=False, na=False)]

Empty DataFrame
Columns: [index, Rank, Game Title, Platform, Year, Genre, Publisher, North America, Europe, Japan, Rest of World, Global, Review]
Index: []

In [21]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.10.7-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.60.1-cp313-cp313-win_amd64.whl.metadata (114 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\lucio59241446\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.3.3)
Requirement already satisfied: packaging>=20.0 in c:\users\lucio59241446\appdata\roaming\python\python313\site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-12.0.0-cp313-cp313-win_amd64.whl.metadata (9.0 kB)
Collecting pyparsing>=3 (from matplotlib)
  Downloading pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lucio59241446\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\lucio59241446\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.7-cp313-cp313-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   -------------------------------------- - 7.9/8.1 MB 41.9 MB/s eta 0:00:01
   -------------------------------------- - 7.9/8.1 MB 41.9 MB/s eta 0:00:01
   -------------------------------------- - 7.9/8.1 MB 41.9 MB/s eta 0:00:01
   -------------------------------------- - 7.9/8.1 MB 41.9 MB/s eta 0:00:01
   -------------------------------------- - 7.9/8.1 MB 41.9 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 7.8 MB/s  0:00:01
Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl (226 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.60.1-cp313-cp313-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ------------------------------------- -- 2.1/2.3 MB 47.0 MB/s eta 0:00:01
   ------------------------------------- -- 2.1/2.3 MB 47.0 MB/s eta 0:00:01
   ---------------------------------------- 2.3/2.3 MB 4.7 MB/s  0:00:00
Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl (73 kB)
Downloading pillow-12.0.0-cp313-cp313-win_amd64.whl (7.0 MB)
   ---------------------------------------- 0.0/7.0 MB ? eta -:--:--
   -------------------------------------- - 6.8/7.0 MB 46.9 MB/s eta 0:00:01
   ---------------------------------------- 7.0/7.0 MB 32.5 MB/s  0:00:00
Downloading pyparsing-3.2.5-py3-none-any.whl (113 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib

   ---------------------------------------- 0/7 [pyparsing]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ---------------------------- ----------- 5/7 [contourpy]
   ---------------------------- ----------- 5/7 [contourpy]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------------- 7/7 [matplotlib]

Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.60.1 kiwisolver-1.4.9 matplotlib-3.10.7 pillow-12.0.0 pyparsing-3.2.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [26]:
df.plot(kind='bar', x='year', y='platform')

KeyError: 'year'